# Compiled class files
*.class

# Log files
*.log

# Maven
target/
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# NetBeans specific files
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
*.nb-gradle.properties
nbproject/private/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# JUnit
*.class

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Others
*.swp
*.swo

